

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_GLUBOY       ICON         "Gluboy.ico"
IDI_SMALL        ICON         "small.ico"

